 .top-restaurant {
    text-align: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDmwv8Mh34TKlPa_nP6blDC3fsXDFUCbORwnTatgCLNbsR-9oTVAKliSA1z1IuR48mtE0&usqp=CAU');
    background-size: cover;
    background-position: center;
 }
 
.foods-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.food-image {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
}

.food-image .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text{
  text-align: center;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  justify-content: space-around;
  margin: 10px;

}